<html>
<head>
  <title>Quiz - Units in CSS</title>
  <style>
    .first {
      width: 100px;
    }

    .second {
      height: 200px;
    }

    .third {
      margin: 1em;
    }

    .fourth {
      font-size: 2em;
    }
  </style>
</head>

<body>
  <div class="first">First div (width 100px)</div>
  <div class="second">Second div (height 200px)</div>
  <div class="third">Third div (margin 1em)</div>
  <div class="fourth">Fourth div (font-size 2em)</div>
</body>
</html>
